p {
    color: rgb(218, 144, 153);
    font-size: 20px;
}

h2 {
    color: purple;
}

.list {
    font-weight: bold;
    color: rgb(218, 144, 153)

}

#homework {
    color : purple;
}

.homework {     /* Применяется фиол цвет из за того что id селектор приоритетнее чем класс селектор */
    color: black;
}

h1 {            /* Применяется фиол так как id селектор более приоритетный чем селектор тега, а класс селектор более приоритетный чем селектор тега */
    color: red;
}
    